* {
    box-sizing: border-box;
    font-family: "mulish", sans-serif;
}
body {
    /* background-color: rgb(210, 44, 44); */
    place-items: center;
    display: grid;
    margin: 14%;
}

.container {
    height: 40vh;
    width: 50vw;
    /* background-color: #1ba5ef; */
    text-align: center;
    border-radius: 12px;
}
#temp {
    padding: 1%;
    width: 15%;
    
}

#tempSelect {
    padding: 1%;
    width: 15%;
    
}

#submit {
    margin: 2%;
}
